@()

<section id="sec-signup" class="section is-hidden">
    <div class="container">
        <h1 class="title">Sign-up</h1>
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input id="signup-name" class="input" type="text" placeholder="username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input id="signup-password" class="input" type="password" placeholder="passw0rd">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div id="signup-errors" class="cleanup"></div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" onclick="signup()">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light" onclick="moveTo('signin')">Cancel</button>
            </div>
        </div>
    </div>
</section>
