@()

<section id="sec-task" class="section is-hidden">
    <div class="container">
        <h1 class="title">Task Detail</h1>


        <div class="columns">
            <div class="column is-10 field">
                <label class="label">Title</label>
                <div class="control">
                    <input id="task-title" class="input" type="text" placeholder="Ask my friend">
                </div>
            </div>

            <div class="column is-2 field">
                <label class="label">State</label>
                <div class="control">
                    <div class="select">
                        <select id="task-state">
                            <option value="created" selected>Created</option>
                            <option value="ongoing">Ongoing</option>
                            <option value="completed">Completed</option>
                            <option value="deleted">Deleted</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea id="task-description" class="textarea" placeholder="Abount my homework"></textarea>
            </div>
        </div>

        <div class="columns">
            <div class="column field">
                <label class="label">Created At</label>
                <div class="control">
                    <input id="task-created-at" class="input" type="text" disabled>
                </div>
            </div>

            <div class="column field">
                <label class="label">Completed At</label>
                <div class="control">
                    <input id="task-completed-at" class="input" type="text" disabled>
                </div>
            </div>

            <div class="column field">
                <label class="label">Deadline</label>
                <div class="control">
                    <input id="task-deadline" type="date" class="is-danger">
                </div>
            </div>

            <div class="column field">
                <label class="label">Cyclic task</label>
                <div class="field has-addons">
                    <p class="control">
                        <input id="task-cycle" class="input" type="text" placeholder="5">
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            days cycle
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column field">
                <label class="label">Tags</label>
                <div id="task-tags" class="field is-grouped is-grouped-multiline"></div>
                <div class="field has-addons">
                    <div class="control">
                        <input id="task-tag-new" class="input is-small" type="text" placeholder="emergency">
                    </div>
                    <div class="control">
                        <a class="button is-primary is-small" onclick="addTag()">Add New</a>
                    </div>
                </div>
            </div>

            <div class="column field">
                <label class="label">Users</label>
                <div id="task-users" class="field is-grouped is-grouped-multiline"></div>
                <div class="field has-addons">
                    <div class="control">
                        <input id="task-user-new" class="input is-small" type="text" placeholder="tommy">
                    </div>
                    <div class="control">
                        <a class="button is-primary is-small" onclick="addUser()">Add New</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="field">
            <div id="task-errors" class="cleanup"></div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" onclick="updateTask()">Save</button>
            </div>
            <div class="control">
                <button class="button is-link is-light" onclick="moveTo('tasks')">Cancel</button>
            </div>
        </div>
    </div>
</section>
